
@import '../../../assets/styles/common/common_dir';

.sidebar{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: $sidebar-background;
    padding: 1rem;
    color:$white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-menu-wrapper{
    
        .sidebar-user{
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 1rem;
            &-image {
                img {
                    max-width: 100%;
                    border-radius: 50%;
                }
            }
        }
        
        .sidebar-search {
            display: flex;
            justify-content: space-between;
            padding: 0.5rem;
            background-color: $white;
            border-radius: 6px;

            &-input {
                flex-basis: 80%;
                border: none;
                background-color: $white;
                padding: 0.5rem;
            }

            i {
                padding: 0.5rem;
                color: black,
            }
        }
        .sidebar-menu {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            border-bottom: 1px solid $white;
            &-item {
                display: flex;
                align-items: center;
                gap: 1rem;
                margin: 0.5rem 0;
                padding: 0.5rem;
            }
            &-item:hover{
                background-color: $white;
                color:$sidebar-background;
                border-radius: 0.5rem;
                cursor: pointer;

            }
        }
        
        .sidebar-lists {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            
            &-list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                margin: 1rem 0;

                &-info{
                    display: flex;
                    align-items: center;
                    gap:1rem;
                }
                
                &-trash{
                    cursor: pointer;
                }
                &-trash:hover{
                    color:rgb(182, 8, 8);
                }
                

            }
            &-list:hover {
                background-color: $white;
                border-radius: 0.5rem;
                padding: 0.5rem;
                color:$sidebar-background;
            }

        }  
    }
    .sidebar-newList {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        position: relative;
        &-btn{
            border: none;
            background-color: transparent;
        }
        &-input{
            font-family: $main-font;
            border: none;
            background-color: transparent;
            color: white;
            outline: none;
        }
        &-input::placeholder {
            color: rgba($color: $white, $alpha: 0.5)
        }
    }

    .modalList{
        display: none;
        color:red;
        background-color: $white;
        border-radius: 0.5rem;
        padding: 1rem;
        position: absolute;
        &-trash {
            display: flex;
            gap: 1rem,
        }
    }
    .show{
        display: flex;
    }
}