<div class="sidebar">
  <div class="sidebar-menu-wrapper">
    <div class="sidebar-user">
      <div class="sidebar-user-image">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/todo-jorge.appspot.com/o/images%2FuserAvatar.jfif?alt=media&token=a616971f-c2e0-48c5-84d3-c0f0dc59ad6b"
          alt="avatar"
        />
      </div>
      <div class="sidebar-user-description">
        <p>Jorge de Toro</p>
        <p>jorge@correo.es</p>
      </div>
    </div>
    <div class="sidebar-search">
      <input type="text" class="sidebar-search-input" placeholder="Search" />
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="sidebar-menu">
      <div class="sidebar-menu-item" [routerLink]="['/myday']">
        <i class="fa-solid fa-sun"></i>
        <p>Mi día</p>
      </div>
      <div class="sidebar-menu-item" [routerLink]="['/important']">
        <i class="fa-regular fa-star"></i>
        <p>Importante</p>
      </div>
      <div class="sidebar-menu-item">
        <i class="fa-regular fa-calendar"></i>
        <p>Planeado</p>
      </div>
      <div class="sidebar-menu-item">
        <i class="fa-regular fa-user"></i>
        <p>Asignadas a mi usuario</p>
      </div>
      <div class="sidebar-menu-item">
        <i class="fa-regular fa-flag"></i>
        <p>Correo electrónico marcado</p>
      </div>
      <div class="sidebar-menu-item">
        <i class="fa-solid fa-house"></i>
        <p>Tareas</p>
      </div>
    </div>
    <div class="sidebar-lists">
      <div
        class="sidebar-lists-list"
        *ngFor="let list of arrList"
        (contextmenu)="showModallist($event)"
        id="{{ list.id }}"
        [routerLink]="['/listTodos', list.title]"
        
      >
        <div class="sidebar-lists-list-info">
          <i class="fa-solid fa-bars"></i>
          <p id="{{ list.id }}">{{ list.title }}</p>
        </div>
        <div class="sidebar-lists-list-trash">
          <i
            id="{{ list.id }}"
            class="fa-solid fa-trash"
            (click)="deleteList($event)"
          ></i>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modalList"
    [ngClass]="{ show: modalList }"
    [ngStyle]="{ left: left + 'px', top: right + 'px' }"
  >
    <div class="modalList-trash">
      <i class="fa-solid fa-trash"></i>
      <p class="modalList-trash-text">Delete list</p>
    </div>
  </div>
  <div class="sidebar-newList">
    <i class="fa-solid fa-plus" (click)="addList(listTitle)"></i>
    <input
      type="text"
      class="sidebar-newList-input"
      placeholder="New List"
      [(ngModel)]="listTitle"
    />
  </div>
</div>
