<div class="sidebar">
  <div class="sidebar-user">
    <div class="sidebar-user-image">image</div>
    <div class="sidebar-user-description">
      <p>Jorge de Toro</p>
      <p>jorge_detoro@elcorteingles.es</p>
    </div>
  </div>
  <div class="sidebar-search">
    <input type="text" class="sidebar-search-input" placeholder="Search" />
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
  <div class="sidebar-menu">
    <div class="sidebar-menu-item">
      <i class="fa-solid fa-sun"></i>
      <p>Mi día</p>
    </div>
    <div class="sidebar-menu-item">
      <i class="fa-regular fa-star"></i>
      <p>Importante</p>
    </div>
    <div class="sidebar-menu-item">
      <i class="fa-regular fa-calendar"></i>
      <p>Planeado</p>
    </div>
    <div class="sidebar-menu-item">
      <i class="fa-regular fa-user"></i>
      <p>Asignadas a mi usuario</p>
    </div>
    <div class="sidebar-menu-item">
      <i class="fa-regular fa-flag"></i>
      <p>Correo electrónico marcado</p>
    </div>
    <div class="sidebar-menu-item">
      <i class="fa-solid fa-house"></i>
      <p>Tareas</p>
    </div>
  </div>
  <div class="sidebar-lists">
    <div class="sidebar-lists-list">
      <i class="fa-solid fa-bars"></i>
      <p>Proyectos Python</p>
    </div>
    <div class="sidebar-lists-list">
      <i class="fa-solid fa-bars"></i>
      <p>Pricing</p>
    </div>
  </div>
  <div class="sidebar-newList">
    <i class="fa-solid fa-plus"></i>
    <p>Nueva lista</p>
  </div>
</div>
