<div class="container">
  <app-sidebar></app-sidebar>
  <div class="rows-wrapper">
    <div class="rows-wrapper-rowone">
      <div class="row-info">
        <h2>My Day</h2>
        <p>Friday, 27 January</p>
      </div>
      <div class="row-icons">
        <button class="row-icons-btn btn" (click)="logOut()">Log Out</button>
        <i class="fa-regular fa-lightbulb"></i>
        <i class="fa-solid fa-ellipsis"></i>
      </div>
    </div>
    <div class="rows-wrapper-rowtwo">
      <article class="task-wrapper">
        <div class="task-wrapper-input">
          <i class="fa-regular fa-circle-check"></i>
        </div>
        <div class="task-wrapper-body">
          <p>new task</p>
          <p>category</p>
        </div>
        <div class="task-wrapper-favourite">
          <i class="fa-regular fa-star"></i>
        </div>
      </article>
      <article>
        <form class="add-task" [formGroup]="formTodo" (ngSubmit)="addTodo()">
          <div class="add-task-icon">
            <button class="add-task-btn" type="submit">
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
          <input
            type="text"
            class="add-task-input"
            name="title"
            formControlName="title"
            placeholder="Add a Task"
          />
          <input
            type="text"
            class="add-task-input"
            name="category"
            formControlName="category"
            placeholder="Add a category"
          />
        </form>
      </article>
    </div>
  </div>
</div>
