@import '../../../assets/styles/common/common_dir';
//mobile

.container{
    display: flex;
    // width: 100%;
    app-sidebar{
        flex-basis:20%;
    }
    .rows-wrapper{
        display: flex;
        flex-direction: column;
        flex-basis: 80%;
        padding: 0 1rem 0 1rem;
        font-family: $main-font;
        &-rowone{
            display:flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            padding: 1rem;
            .row-info{
                margin-top: 1rem;
            }
            .row-icons{
                display: flex;
                gap:1rem;
                align-items: center;
                &-btn{
                    background-color: rgb(149, 13, 13);
                }
            }
        }
        &-rowtwo{
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            
            .task-wrapper{
                display: flex;
                align-items: center;
                border-radius: 0.5rem;
                background-color: $sidebar-background;
                color:$white;
                padding: 0.4rem;
                margin-bottom: 0.5rem;
                &-input{
                    flex-grow: 0;
                    margin-left: 0.75rem;
                    margin-right: 1rem;
                }
                &-body{
                    flex-grow:3;
                    text-align: start;
                    display: flex;
                    flex-direction: column;
                    &-info{
                        display: flex;
                        align-items: center;
                        gap:1rem;
                        font-size: 0.9rem;
                        margin-top: 0.5rem;
                        color: rgba($color: $white, $alpha: 0.5);
                        
                        
                    }
            
                }
                &-favourite{
                    flex-grow: 0;
                    margin-right: 0.75rem;
                    i{
                        margin-right: 1rem;
                        cursor: pointer;
                    }
                    .fa-trash{
                        color:black;
                    }
                }
            }
            .add-task{
                font-family: $main-font;
                display: flex;
                width: 100%;
                gap:1rem;
                background-color: $sidebar-background;
                border-radius: 0.5rem;
                padding: 0.75rem;
                &-icon{
                    .add-task-btn{
                     background-color: transparent;
                     border: none;
                     cursor: pointer;
                        i{
                            color:$white;
                        }

                    }
                }
                &-input{
                    font-family: $main-font;
                    border:none;
                    background-color: transparent;
                    color:white;
                    outline: none;

                }
                &-input::placeholder{
                    color:rgba($color: $white, $alpha: 0.5)
                    
                }
                &-icons{
                    color: $white;
                    display: flex;
                    gap:2rem;
                    cursor:pointer,
                }
         
            }
            .modalList{
                display:none;
                //TODO: add new styles background, border, you name it.
            }
            .show{
                display: flex;
                flex-direction: column;
            }

        }
    }
}