@import '../../../assets/styles/common/common_dir';
//mobile

.container {
    display: flex;
    background-color: $main-background;

    app-sidebar {
        flex-basis: 20%;
    }

    .rows-wrapper {
        display: flex;
        flex-direction: column;
        flex-basis: 80%;
        padding: 0 1rem 0 1rem;
        font-family: $main-font;

        &-rowone {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            padding: 1rem;

            .row-info {
                margin-top: 1rem;
            }

            .row-icons {
                display: flex;
                gap: 1rem;
                align-items: center;

                &-btn {
                    background-color: rgb(149, 13, 13);
                }

                &-btn:hover {
                    animation: row-icons-btn 0.9s both;
                }

                &-btn:active {
                    transform: scale(.9);
                }
            }


            @keyframes row-icons-btn {
                0% {
                    transform: scale(1, 1, 1);
                }

                50% {
                    transform: scale3d(1.15, 0.85, 1);
                }

                100% {
                    transform: scale3d(0.75, 0.95, 1);
                }
            }
        }


        &-rowtwo {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            .task-wrapper {
                display: flex;
                align-items: center;
                border-radius: 0.5rem;
                background-color: $white;
                color: $greyFont;
                padding: 0.4rem;
                margin-bottom: 0.5rem;

                &-input {
                    flex-grow: 0;
                    margin-left: 0.75rem;
                    margin-right: 1rem;
                }

                &-body {
                    flex-grow: 3;
                    text-align: start;
                    display: flex;
                    flex-direction: column;

                    &-info {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        font-size: 0.9rem;
                        margin-top: 0.5rem;
                        color: rgba($color: $greyFont, $alpha: 0.5);


                    }

                }

                &-favourite {
                    flex-grow: 0;
                    margin-right: 0.75rem;

                    i {
                        margin-right: 1rem;
                        cursor: pointer;

                    }

                    .fa-trash {
                        color: black;
                    }

                    // .fill {
                    //     background-color: red;
                    //     color: white;
                    // }
                }
            }

            .add-task {
                font-family: $main-font;
                display: flex;
                width: 100%;
                gap: 1rem;
                background-color: #E1FAE3;
                border-radius: 0.5rem;
                padding: 0.75rem;

                &-icon {
                    .add-task-btn {
                        background-color: transparent;
                        border: none;
                        cursor: pointer;

                        i {
                            color: $greyFont;
                        }

                    }
                }

                &-input {
                    font-family: $main-font;
                    border: none;
                    background-color: transparent;
                    color: $greyFont;
                    outline: none;

                }

                &-input::placeholder {
                    color: rgba($color: $greyFont, $alpha: 0.8)
                }

                &-icons {
                    color: $greyFont;
                    display: flex;
                    gap: 2rem;
                    cursor: pointer,
                }

            }

            .modalList {
                display: none;
                //TODO: add new styles background, border, you name it.
            }

            .show {
                display: flex;
                flex-direction: column;
            }

        }
    }
}