<div class="container">
  <app-sidebar></app-sidebar>
  <div class="rows-wrapper">
    <div class="rows-wrapper-rowone">
      <div class="row-info">
        <h2>My Day</h2>
        <p>Friday, 27 January</p>
      </div>
      <div class="row-icons">
        <button class="row-icons-btn btn" (click)="logOut()">Log Out</button>
        <i class="fa-regular fa-lightbulb"></i>
        <i class="fa-solid fa-ellipsis"></i>
      </div>
    </div>
    <div class="rows-wrapper-rowtwo">
      <div class="rowtwo-todos">
        <article class="task-wrapper" *ngFor="let todo of arrTodos">
          <div class="task-wrapper-input">
            <i class="fa-regular fa-circle-check"></i>
          </div>
          <div class="task-wrapper-body">
            <div class="task-wrapper-body-title>">
              <p>{{ todo.title }}</p>
            </div>
            <div class="task-wrapper-body-info">
              <p>{{ todo.category }}</p>
              <i class="fa-solid fa-circle fa-xs"></i>
              <p>{{ todo.list }}</p>
            </div>
          </div>
          <div class="task-wrapper-favourite">
            <i
              [ngClass]="{ 'fa-solid': fillactive, 'fa-regular': !fillactive }"
              class="fa-regular fa-star"
              id="{{ todo.id }}"
              (click)="onClick(todo.id)"
            ></i>
            <i
              class="fa-solid fa-trash"
              id="{{ todo.id }}"
              (click)="deleteTodo($event)"
            ></i>
          </div>
        </article>
      </div>
      <div class="rowtwo-addTodos">
        <article class="task">
          <form class="add-task" [formGroup]="formTodo" (ngSubmit)="addTodo()">
            <div class="add-task-icon">
              <button class="add-task-btn" type="submit">
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
            <input
              type="text"
              class="add-task-input"
              name="title"
              formControlName="title"
              placeholder="Add a Task"
            />
            <input
              type="text"
              class="add-task-input"
              name="category"
              formControlName="category"
              placeholder="Add a category"
            />
            <div class="add-task-icons">
              <i class="fa-solid fa-house"></i>
              <i class="fa-solid fa-calendar"></i>
            </div>
          </form>
        </article>
        <div class="modalList" [ngClass]="{ show: modalList }">
          <p *ngFor="let list of arrLists" id="{{ list.id }}">
            {{ list.title }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
