//fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

//fonts
$main-font: "Source Sans Pro", sans-serif;
//colors
// $main-background: #002D62;
$main-background: #EEEEEE;
$sidebar-background: #318CE7;
$white: #FBF7F6;
$greyFont: #595A5B;
//media queries

$mq-desktop: 1440px;
$mq-tablet: 768px;